<h3><%= @restaurant.name %></h3>
<p>Category: <%= @restaurant.category %></p>
<p>Price: $<%= @restaurant.price %></p>
<p>Description: <%= @restaurant.description %></p>
<p>Recommender: <%= @restaurant.recommender %></p>
<p>Location: <%= @restaurant.location %></p>
<p>Website: <%= @restaurant.website %></p>
<p>Best_dish: <%= @restaurant.best_dish %></p>



    